spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Ho_Chi_Minh
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}


  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  flyway:
    enabled: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
mail:
  sender:
    name: ${MAIL_SENDER_NAME:JobHub}

server:
  port: ${SERVER_PORT:8080}

jwt:
  signerkey: ${JWT_SIGNER_KEY}
  access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION:36000000}
  refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION:604800000}
google:
  oauth:
    client-id: ${GOOGLE_OAUTH_CLIENT_ID}
    issuer: ${GOOGLE_OAUTH_ISSUER:https://accounts.google.com}
    jwk-set-uri: ${GOOGLE_OAUTH_JWK_SET_URI:https://www.googleapis.com/oauth2/v3/certs}
cloudinary:
  CLOUDINARY_CLOUD_NAME: ${CLOUDINARY_CLOUD_NAME}
  CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY}
  CLOUDINARY_API_SECRET: ${CLOUDINARY_API_SECRET}

aws:
  access-key: ${AWS_ACCESS_KEY_ID}
  secret-key: ${AWS_SECRET_ACCESS_KEY}
  region: ${AWS_REGION:ap-southeast-1}
  s3:
    bucket: ${AWS_S3_BUCKET}

cv:
  parser:
    url: ${CV_PARSER_URL}

gemini:
  api-key: ${GEMINI_API_KEY}
  model: ${GEMINI_MODEL:gemini-2.5-flash}
  base-url: ${GEMINI_BASE_URL:https://generativelanguage.googleapis.com/v1beta}
